.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between the SidebarToggleButton and the Logo */
}