# Ignore the project_mn_003 directory
project_mn_003/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
env/
project_mn_003/

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore node_modules directory (if using Node.js)
node_modules/
