/* src/components/Profile/SideBar.css */
.sidebar {
    position: absolute; /* Position the sidebar absolutely within the parent */
    top: 0;
    left: -250px; /* Initial position off-screen */
    width: 250px; /* Sidebar width */
    height: 100%; /* Make the sidebar take up 100% of the parent div's height */
    transition: left 0.3s ease; /* Smooth transition for sliding in */
    z-index: 1; /* Ensure the sidebar stays below the header */
    overflow: hidden; /* Hide overflow content */
  }
  
.sidebar.visible {
  left: 0; /* Slide in the sidebar */
  background-color: #575757;
}

.sidebar h2 {
  color: white;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
  text-align: center;
}

.sidebar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  padding: 10px 20px; /* Adjust padding for size */
  border-radius: 12px; /* Semi-rounded corners */
  width: 100%; /* Full width of the container */
  text-align: left; /* Align text to the left */
}

.sidebar button:hover {
  background-color: gray;
  
}