/* FILE: Logo.css */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.logo img {
  max-width: 100%;
  height: auto;
}