/* FILE: utils/Components/NotFound.css */

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fa;
    color: #343a40;
  }
  
  .not-found-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .not-found-message {
    font-size: 1.5rem;
  }