.toggle-password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 0.9rem;
    padding: 0;
  }
  
  .toggle-password-button:focus {
    outline: none;
  }